.container {
    margin: 0 auto;
    width: max-content;
    text-align: center;
}

table, td, th {
  border: none;
}

td {
  padding: 5px;
  color: gray;
}

th {
  background: #88c7c9;
  color: white;
  padding: 5px;
}

hr {
  margin: 20px;
  border: 1px solid #c5dfe0;
}

input {
  border: none;
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}
input:focus, input.form-control:focus {
  outline:none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="button"] {
  border: 0;
  padding: 10px;
  border-radius: 4px;
  color: #88c6c9;
}

h1 { color: #cccccc; }